@font-face {
    font-family: vectorb;
    src: url(vectorb.ttf);
  }
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background: black;
    color: white;
  }

  .aster-font {
    font-family: vectorb;
  }
